@charset "UTF-8";

////
/// @group Utilities
/// @author Kris Olszewski
////

/**
 * Utility: Align
 * --------------------------------------------------
 */

.u-alignLeft {
  text-align: left;
}

.u-alignCenter {
  text-align: center;
}

.u-alignRight {
  text-align: right;
}
